block variables
  - var showMenuItens = true

header.navbar.bg--light1
  .navbar__container
    .navbar__logo
      a(href="/index.html" aria-label="Home") 
        img.navbar__logo--mobile(src="images/logo--mobile.svg" width="42" height="32" alt="Logo")
      a(href="/index.html" aria-label="Home") 
        img.navbar__logo--desktop(src="images/logo.svg" width="125" height="24" alt="Logo")
      
    if showMenuItens
      nav
        ul.navbar__menu
          li.navbar__menu-item: a.navbar__menu-link(href="https://classpass.com/search" target="_blank") Find class &amp; appointments
          li.navbar__menu-item: a.navbar__menu-link(href="https://classpass.com/plans" target="_blank") Plans
          li.navbar__menu-item: a.navbar__menu-link(href="#schedule") Anchor Example
          li.navbar__menu-item: a.navbar__menu-link(href="#sponsors") Sponsors
          li.navbar__menu-item: a.navbar__menu-link(href="#news") News
          li.navbar__menu-item: a.navbar__menu-link(href="https://classpass.com/login" target="_blank") Log in
      a.button.button--small(href="/sign-up.html" aria-label="Sign up now") Sign up now
      button.navbar__hamburguer(aria-label="Menu")
        div &nbsp;