header.navbar.bg--light1
  img.navbar__logo(src="logo.png" alt="Logo")
  nav
    ul.navbar__menu
      li.navbar__menu-item: a.navbar__menu-link(href="#") Find class &amp; appointments
      li.navbar__menu-item: a.navbar__menu-link(href="#") Plans
      li.navbar__menu-item: a.navbar__menu-link(href="#") How credits work
      li.navbar__menu-item: a.navbar__menu-link(href="#") List my business
      li.navbar__menu-item: a.navbar__menu-link(href="#") Corporate wellness
      li.navbar__menu-item: a.navbar__menu-link(href="#") Log in
      li.navbar__menu-item: a.button.button--small(href="#") Sign up now