@use "modules/reset" as *;
@use "modules/fonts" as *;
@use "modules/variables" as *;
@use "modules/fonts" as *;
@use "modules/common" as *;
@use "modules/mixins" as *;

@use "components/navbar" as *;
@use "components/button" as *;
@use "components/heading" as *;
@use "components/card" as *;

.section {
  padding: 48px 0;
  min-height: calc(100vh - $navbar-height);

  &--thankyou {
  }

  &--form {
    p {
      max-width: 600px;
      margin: auto;
    }

    .gridcontainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      @include pixelsToResponsiveUnit(gap, 20px, 50px, 100px);
    }
  }
}

@include tablet {
  .section {
    padding: 100px 0;

    &--thankyou {
    }

    &--form {
      .gridcontainer {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
