{% extends "./layouts/_default.njk" %}
{% set title = "CRO Pickleball Form | Thiago Higuchi" %}
{% set description = "Test project using HTML, CSS, and JS" %}
{% set author = "Thiago Higuchi" %}
{% set imgPrefixUrl = IMG_PREFIX_URL %}
{% set filePrefixUrl = FILE_PREFIX %}
{% set showMenuItems = false %}
{% block content %}
    {% include "./partials/_navbar.njk" %}
    <main>
        <section class="section section--form bg--light2">
            <div class="container stack gap--lg">
                <div class="stack gap--sm text--center">
                    <h1 class="heading--1">Let's do this</h1>
                    <p class="max-width--600 margin-x--auto">
                        Thank you for your interest in the 2025 ClassPass Pickleball Classic. Submit your details below to join the waitlist.
                    </p>
                </div>
                <div class="grid-container">
                    <div class="card stack gap--sm">
                        <h4 class="heading--4">Contact information</h4>
                        <p>
                            The information below will be used to contact you with event updates and to let you know your status on the
                            waitlist.
                        </p>
                        <div class="form__grid">
                            <div class="form__container">
                                <label class="form__label" for="firstname">First Name*</label>
                                <input type="text" name="firstname"/>
                            </div>
                            <div class="form__container">
                                <label class="form__label" for="lastname">Last Name*</label>
                                <input type="text" name="lastname"/>
                            </div>
                            <div class="form__container form__container-span--2">
                                <label class="form__label" for="phone">Phone Number*</label>
                                <input type="number" name="phone"/>
                            </div>
                            <div class="form__container form__container-span--2">
                                <label class="form__label" for="email">E-mail address*</label>
                                <input type="text" name="email"/>
                            </div>
                            <div class="form__container form__container-span--2">
                                <label class="form__label" for="selectField">Pickleball experience level*</label>
                                <select id="selectField" name="selectField">
                                    <option value="option1">Option 1</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <a class="button button--full" href="{{ filePrefixUrl }}thank-you.html" aria-label="Join waitlist">
                            Join waitlist
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <img class="border--round border--clip" src="{{ imgPrefixUrl }}images/form-image.jpg" alt="Form image" loading="lazy"/>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}