{% set showMenuItems = true %}
{% set imgPrefixUrl = IMG_PREFIX_URL %}

<header class="navbar bg--light1">
  <div class="navbar__container">
    <div class="navbar__logo">
      <a href="{{ filePrefixUrl }}index.html" aria-label="Home">
        <img class="navbar__logo--mobile" src="{{ imgPrefixUrl }}images/logo--mobile.svg" width="42" height="32" alt="Logo">
      </a>
      <a href="{{ filePrefixUrl }}index.html" aria-label="Home">
        <img class="navbar__logo--desktop" src="{{ imgPrefixUrl }}images/logo.svg" width="125" height="24" alt="Logo">
      </a>
    </div>
    {% if showMenuItems %}
      <nav>
        <ul class="navbar__menu">
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="https://classpass.com/search" target="_blank">Find class &amp; appointments</a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="https://classpass.com/plans" target="_blank">Plans</a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#schedule">Anchor Example</a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#sponsors">Sponsors</a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#news">News</a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="https://classpass.com/login" target="_blank">Log in</a>
          </li>
        </ul>
      </nav>
      <a class="button button--small" href="{{ filePrefixUrl }}sign-up.html" aria-label="Sign up now">Sign up now</a>
      <button class="navbar__hamburguer" aria-label="Menu">
        <div>&nbsp;</div>
      </button>
    {% endif %}
  </div>
</header>