extends ./layouts/_default.pug
block variables
	- var title = 'CRO Pickleball Thank You | Thiago Higuchi'
	- var description = 'Test project using HTML, CSS, and JS'
	- var author = 'Thiago Higuchi'

block content
	include ./partials/_navbar.pug
	main
		section.section.section--thankyou.bg--light2
			.container
				.stack.gap--sm.text--center
					h1.heading--1 Thank you!
					p Stay tuned for updates on your waitlist status and for more event details.

	script(src=FILE_PREFIX+'js/navbar.js' defer)
				