@use "modules/variables" as *;
@use "sass:color";

.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: $primary-color;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  text-align: center;
  width: fit-content;

  &:hover,
  &:focus {
    background-color: color.adjust($primary-color, $lightness: 15%);
  }

  &--outline {
    background: transparent;
    border: solid 1px $primary-color;
    color: $primary-color;

    &:hover,
    &:focus {
      border-color: color.adjust($primary-color, $lightness: 15%);
      background-color: color.adjust($primary-color, $lightness: 15%);
      color: #fff;
    }
  }

  &--small {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.14;
  }

  &--full {
    width: 100%;
  }
}
