@use "modules/variables" as *;
@use "modules/mixins" as *;

.heading {
  &--1 {
    line-height: 1.08;
    font-weight: bold;

    @include pixelsToResponsiveUnit(font-size, 14px, 38px, 60px);
  }
  &--4 {
    line-height: 1.4;
    font-size: 1.25rem;
  }
}
