@use "modules/variables" as *;
@use "modules/mixins" as *;

.mosaic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 8px;
  max-height: 250px;
  width: 100%;

  &__item {
    background-color: #084176;
    overflow: hidden;
    border-radius: 16px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.35s ease-in-out;
      opacity: 1;
    }

    &--fade {
      img {
        opacity: 0;
      }
    }

    &--1 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 22;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: #2a5e8e;
    }
    &--2 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 10;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: #06355f;
    }
    &--3 {
      grid-column: 3 / span 1;
      grid-row: 23 / span 8;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: #4c7ca6;
    }
    &--4 {
      grid-column: 1 / span 1;
      grid-row: 23 / span 8;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: #052947;
    }
    &--5 {
      grid-column: 2 / span 1;
      grid-row: 11 / span 20;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: #6e9abf;
    }
    &--6 {
      display: none;
      background-color: #1f5a8d;
    }
    &--7 {
      display: none;
      background-color: #063664;
    }
    &--8 {
      grid-column: 3 / span 1;
      grid-row: 1 / span 22;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: #031d30;
    }
  }
}

@include desktop {
  .mosaic {
    gap: 12px;
    height: calc(100vh - $navbar-height);
    width: auto;
    max-height: none;
    aspect-ratio: 669 / 789;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(40, 1fr);
    position: absolute;
    top: 0;
    left: 50%;

    &__item {
      &--1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 15;
      }
      &--2 {
        grid-column: 3 / span 2;
        grid-row: 1 / span 13;
      }
      &--3 {
        grid-column: 1 / span 1;
        grid-row: 16 / span 10;
        border-radius: 16px;
      }
      &--4 {
        grid-column: 2 / span 1;
        grid-row: 16 / span 10;
        border-radius: 16px;
      }
      &--5 {
        grid-column: 3 / span 2;
        grid-row: 14 / span 14;
        border-radius: 16px;
      }
      &--6 {
        display: block;
        grid-column: 1 / span 2;
        grid-row: 26 / span 15;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &--7 {
        display: block;
        grid-column: 3 / span 1;
        grid-row: span 13;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &--8 {
        grid-column: 4 / span 1;
        grid-row: span 13;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
