@use "modules/variables" as *;
@use "modules/mixins" as *;

* {
  font-family: "TT-Norms", sans-serif;
  color: $text-color;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Hurme Geometric Sans 3 W03 Bold", sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.08;
}

// UTILS
.stack {
  display: flex;
  flex-direction: column;

  &.gap {
    &--sm {
      gap: 12px;
    }
    &--lg {
      gap: 32px;
      @include pixelsToResponsiveUnit(gap, 32px, 40px, 48px);
    }
  }
}

.container {
  max-width: $grid;
  width: 90%;
  margin: auto;
}

.text {
  &--center {
    text-align: center;
  }
}

.border {
  &--round {
    border-radius: 20px;
  }
}

.overflow {
  &--hidden {
    overflow: hidden;
  }
}

.bg {
  &--light1 {
    background-color: $bg-color-light1;
  }
  &--light2 {
    background-color: $bg-color-light2;
  }
  &--light3 {
    background-color: $bg-color-light3;
  }
}
