@use "modules/variables" as *;
@use "modules/mixins" as *;

* {
  font-family: "TT-Norms", sans-serif;
  color: $text-color;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Hurme Geometric Sans 3 W03 Bold", sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.08;
}

p {
  b {
    font-weight: 700;
  }
}

// UTILS
.stack {
  display: flex;
  flex-direction: column;

  &.gap {
    &--sm {
      gap: 12px;
    }
    &--lg {
      gap: 32px;
      @include pixelsToResponsiveUnit(gap, 32px, 40px, 48px);
    }
  }
}

.container {
  max-width: $grid;
  width: 95%;
  margin: auto;
}

.text {
  &--center {
    text-align: center;
  }

  &--lg {
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.link {
  text-decoration: underline;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.border {
  &--clip {
    overflow: hidden;
  }

  &--round {
    border-radius: 20px;
  }
  &--round-md {
    border-radius: 16px;
  }
  &--round-sm {
    border-radius: 12px;
  }
}

.overflow {
  &--hidden {
    overflow: hidden;
  }
}

.max-width {
  &--600 {
    max-width: 600px;
  }
}

.margin-x {
  &--auto {
    margin: 0 auto;
  }
}

.bg {
  &--light1 {
    background-color: $bg-color-light1;
  }
  &--light2 {
    background-color: $bg-color-light2;
  }
  &--light3 {
    background-color: $bg-color-light3;
  }
  &--dark1 {
    background-color: $bg-color-dark1;
  }
}
