$desktop-lg-min: 1200px;
$desktop-min: 992px;
$tablet-min: 768px;

$grid: 1240px;

$primary-color: #05f;
$bg-color-light1: #fff;
$bg-color-light2: #e6f3ff;
$bg-color-light3: #c0e0ff;
$text-color: #000;

$border-radius: 16px;

$navbar-height: 64px;
